ShaderResource (
    name: "main",
    inputs: [
        MeshMaterial,
        Node (
            layout: Uniform,
            bind_group: "transform",
        ),
        Global (
            layout: Uniform,
            resource: "current_camera",
            bind_group: "camera",
        ),
        Scene (
            collection: "point_lights",
        ),
        Scene (
            collection: "directional_lights",
        ),
        
    ],
    vertex_type: Model,
    shader_file: "main.wgsl",
)