ShaderResource (
    name: "main",
    inputs: [
        MeshMaterial,
        Node (
            ty: Uniform,
            res: "transform",
        ),
        GlobalNode (
            ty: Uniform,
            node: "current_camera",
            res: "camera",
        ),
        Scene (
            collection: "point_lights",
        ),
        Scene (
            collection: "directional_lights",
        ),
        Scene (
            collection: "ambient_lights",
        ),
        Resource (
            ty: CubeSampler,
            res: "tritium::irradiance",
        ),
        Resource (
            ty: CubeSampler,
            res: "tritium::reflections",
        ),
    ],
    vertex_type: Model,
    shader_file: "main.wgsl",
)