ShaderResource (
    name: "skybox",
    inputs: [
        Resource (
            ty: CubeSampler,
            res: "tritium::skybox",
        ),
        GlobalNode (
            ty: Uniform,
            node: "current_camera",
            res: "camera",
        ),
    ],
    vertex_type: Position,
    shader_file: "skybox.wgsl",
)