ShaderResource (
    name: "skybox",
    inputs: [
        Node (
            ty: CubeMap,
            res: "cubemap",
        ),
        GlobalNode (
            ty: Uniform,
            node: "current_camera",
            res: "camera",
        ),
    ],
    vertex_type: Position,
    shader_file: "skybox.wgsl",
)